.saveFavourite {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveFavourite__star {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.saveFavourite__ul{
  list-style-type: none;
  font-size: 2rem;
  font-family: inherit;
  background-color: #feff9c;
  padding: 2rem;
  border-radius: 1rem;
}
.saveFavourite__li {
  display: flex;
  justify-content: space-between;
}