:root {
  --dark: #424656;
  --pink: #F46D86;
  --blue: #1565C0;
  --gray: #A6ABBD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.layout {
  display: flex;
  flex-direction: column; }

.searchBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.searchBar__input {
  justify-content: center; }

body {
  font-family: 'Open Sans', sans-serif; }

.heading {
  color: var(--dark); }

.heading__primary {
  font-size: 4rem;
  color: var(--dark); }

.heading__secondary {
  font-size: 2rem; }

.heading__warning {
  text-align: center;
  color: crimson; }

.searchBox {
  display: flex;
  justify-content: center; }

.searchBox__input {
  font-size: 2rem;
  height: 3rem;
  background-color: transparent;
  outline: none;
  color: var(--dark);
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 3rem;
  border: 3px solid var(--pink); }
  .searchBox__input::placeholder {
    font-family: inherit;
    font-size: 2rem;
    color: var(--dark); }
  .searchBox__input:active, .searchBox__input:focus, .searchBox__input:hover {
    border: 3px solid var(--pink); }
  @media (max-width: 37.5em) {
    .searchBox__input {
      padding: 2rem; } }

.logo {
  display: flex;
  justify-content: flex-start;
  height: 3rem; }

.logo__img {
  height: 100%; }

.cards {
  display: flex;
  justify-content: center; }
  @media (max-width: 37.5em) {
    .cards {
      flex-flow: wrap; } }

.DailyWeatherCard {
  background-color: #6DD5FA;
  border: 1px solid var(--pink);
  height: 20rem;
  width: 15rem;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem; }

.btn {
  border: 1px solid var(--dark);
  padding: 1rem;
  background-color: var(--gray);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  outline: none; }
  .btn:hover {
    background-color: var(--pink);
    color: white; }
  @media (max-width: 37.5em) {
    .btn {
      padding: 2rem; } }

.btn__remove {
  font-size: 1rem;
  margin: .5rem 0;
  padding: .3rem; }

.btn_currentLocation {
  padding: 1rem;
  font-size: 1.5rem; }
  @media (max-width: 37.5em) {
    .btn_currentLocation {
      padding: 2rem; } }

.btn_addFavourite {
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem; }

.btn__search {
  font-size: 1.5rem;
  padding: 1rem; }
  @media (max-width: 37.5em) {
    .btn__search {
      padding: 2rem; } }

.saveFavourite {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.saveFavourite__star {
  height: 3rem;
  width: 3rem;
  cursor: pointer; }

.saveFavourite__ul {
  list-style-type: none;
  font-size: 2rem;
  font-family: inherit;
  background-color: #feff9c;
  padding: 2rem;
  border-radius: 1rem; }

.saveFavourite__li {
  display: flex;
  justify-content: space-between; }

.lds-ripple {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  left: 40%;
  top: 40%;
  width: 500px;
  height: 500px; }

.lds-ripple div {
  position: absolute;
  border: 50px solid var(--blue);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
