.btn {
  border: 1px solid var(--dark);
  padding: 1rem;
  font-size: 3rem;
  color: var(--dark);
  cursor: pointer;
  border-radius: 2rem;
  outline: none;

  &:hover {
    background-color: var(--pink);
    color: white;
  }
}

.btn__remove {
  font-size: 1rem;
}
.btn_currentLocation {
  padding: 0;
  font-size: 1.5rem;

}
.btn_addFavourite {
  font-size: 1.5rem;
  padding: 0;

}