.btn {
  border: 1px solid var(--dark);
  padding: 1rem;
  background-color: var(--gray);
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  outline: none;

  &:hover {
    background-color: var(--pink);
    color: white;
  }
}

.btn__remove {
  font-size: 1rem;
  margin: .5rem 0;
  padding: .3rem;
}
.btn_currentLocation {
  padding: 1rem;
  font-size: 1.5rem;

}
.btn_addFavourite {
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;

}
.btn__search {
  font-size: 1.5rem;
  padding: 1rem;
}