.cards {
  display: flex;
  justify-content: center;

  @include respond(phone) {
    flex-flow: wrap;
  }
}

.DailyWeatherCard {
  background-color: var(--gray);
  border: 1px solid var(--pink);
  height: 20rem;
  width: 15rem;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;


}
